In [3]:
import sys
import numpy
import pandas
import sklearn

print("Python :{}".format(sys.version))
print("Numpy  :{}".format(numpy.__version__))
print("Pandas  :{}".format(pandas.__version__))
print("Sklearn  :{}".format(sklearn.__version__))

print("WE are GOOD!")

Python :3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Numpy  :1.18.1
Pandas  :0.25.3
Sklearn  :0.22.1
WE are GOOD!

In [5]:
import pandas as pd
# reading  dataset
df = pd.read_csv('iris.csv')
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [11]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [7]:
Y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [9]:
print(X.dtypes)

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
dtype: object

In [10]:
print(Y.dtypes)

object

In [13]:
# lets encode the target colum
# import LabelEncoder 
from sklearn.preprocessing import LabelEncoder
# Instatniate LabelEncoder
le = LabelEncoder()
# LabelEncode Book_Tablecolumn of df
df["Transformed_variety"] = le.fit_transform(df["variety"])
# Inspecting encoded df
df.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,Transformed_variety
0,5.1,3.5,1.4,0.2,Setosa,0
1,4.9,3.0,1.4,0.2,Setosa,0
2,4.7,3.2,1.3,0.2,Setosa,0
3,4.6,3.1,1.5,0.2,Setosa,0
4,5.0,3.6,1.4,0.2,Setosa,0
...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,Versicolor,1
96,5.7,2.9,4.2,1.3,Versicolor,1
97,6.2,2.9,4.3,1.3,Versicolor,1
98,5.1,2.5,3.0,1.1,Versicolor,1
99,5.7,2.8,4.1,1.3,Versicolor,1

In [14]:
# updating the y 
Y = df.iloc[:,-1]

In [15]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Transformed_variety, Length: 150, dtype: int32

In [17]:
# spliting the data into train and test 
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, stratify = Y)

train_csv = X_train.assign(Class=y_train)
test_csv = X_test.assign(Class=y_test)
# saving the encoded dataset.
df.to_csv('Encoded iris dataset.csv')

# saving seperate csv file 
train_csv.to_csv('train_csv.csv')
test_csv.to_csv('test_csv.csv')

In [27]:
a=1
b=df.loc[a][3]
type(b)

numpy.float64

In [19]:
sample=df.loc[1]

In [20]:
sample

sepal.length              4.9
sepal.width                 3
petal.length              1.4
petal.width               0.2
variety                Setosa
Transformed_variety         0
Name: 1, dtype: object